/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(30, 54%, 90%);
  color: hsl(30, 10%, 34%);
  line-height: 1.6;
}

.container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.card {
  background: white;
  padding: 2rem;
  border-radius: 1.5rem;
  width: 700px;
}

/* Hero Image */
.hero-img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
}

/* Headings */
h1 {
  font-family: "Young Serif", serif;
  font-size: 2rem;
  color: hsl(24, 5%, 18%);
  margin-bottom: 1rem;
}

h2 {
  font-family: "Young Serif", serif;
  color: hsl(14, 45%, 36%);
  font-weight: 400;
  margin: 1.5rem 0 1rem;
}

h3 {
  font-size: 1rem;
  color: hsl(332, 51%, 32%);
  margin-bottom: 0.5rem;
}

/* Paragraph */
.intro {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

/* Time Box */
.time-box {
  background: hsl(330, 100%, 98%);
  padding: 1.2rem;
  border-radius: 0.8rem;
  margin-bottom: 1.5rem;
}

.time-box ul {
  list-style: disc;
  padding-left: 1.5rem;
}

.time-box li {
  margin: 0.5rem 0;
}

.time-box span {
  font-weight: 700;
}

/* Lists */
.list {
  list-style: disc;
  padding-left: 1.5rem;
}

.list li {
  margin-bottom: 0.5rem;
}

.ordered {
  list-style: decimal;
  padding-left: 1.5rem;
  
}

.ordered li::marker {
  color: hsl(14, 45%, 36%); /* change this color */
  font-weight: bold;        /* optional: make numbers bold */
  font-size: 1.1rem;        /* optional: make them bigger */
}

.ordered li span {
  font-weight: 700;
  color: hsl(30, 10%, 34%);
  padding-left: .2rem;
}

/* Divider */
.divider {
  height: 1px;
  background: #ddd;
  margin: 1.5rem 0;
}

/* Nutrition Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

td {
  padding: 0.8rem 0;
}

td:first-child {
  color: #555;
}

td:last-child {
  font-weight: 700;
  color: hsl(14, 45%, 36%);
  text-align: left;
}
